
:root {
  --backgroundcolor: #e0eef1;
  --highlight: #afdde6;
  --boxes: #969696;
}
.App {
  text-align: center;
}

.navBar{
  background-color: var(--highlight);
  min-height: 5vmin;
  height: fit-content;
  overflow: hidden;
}
.navBar a {
  float: left;
  background-color: var(--highlight);
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 2vmin;
  height: 3vmin;
  padding: 1vmin 0vw;
  width: 17vmin;
}
.navBar a:hover {
  background-color: #474d58;
  color: white;
}
.navBar a:active{
  background-color: white;
  color: white;
}
#activeNav{

  text-decoration: underline;
}
.MovieTable{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vmin;
  scrollbar-color: green;
  scrollbar-base-color: red;
}

.GenreTable{
  overflow-y: scroll;
  height: 20vmin;
  scrollbar-color: green;
  scrollbar-base-color: red;
} 
.mySearchBar{
  min-width: 20%;
  max-width: 20%;
  min-height: 2.5%;
  max-height: 2.5;
}

.App-logo {
  height: 30vh;
  pointer-events: none;
  margin: 0%, 0%;
  padding-bottom: 0%;
  display: block;
  align-self: center;
}

.Thumbnail {
  height: 20vmin;
  width: 13.5vmin;
  pointer-events: none;
  margin: 0%, 0%;
  padding: 0vmin 2vw;
  padding-top: 2vh;
}

body::-webkit-scrollbar-thumb {
  background-color: blue;
  outline: 1px solid red;
}

.App-header {
  background-color: #282c34;
  font-size: calc(1px + 2vmin);
  color: white;
}
.App-body {
  background-color: var(--backgroundcolor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
}
.Pref-body {
  background-color: var(--backgroundcolor);
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow-y: hidden;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
}
.History-body {
  background-color: var(--backgroundcolor);
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-size: calc(5px + 2vmin);
  color: black;
}
.Landing-body {
  background-color: var(--backgroundcolor);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: left;
  font-size: calc(5px + 2vmin);
  overflow-x: hidden;
  color: black;
}
.LandingPageText{
  border: 0px solid var(--highlight);
  width: 50%;
  text-align: left;
  
  font-size: calc(5px + 2vmin);
  padding-top: 3vh;
  padding-right: 1vw;
  padding-bottom: 3vh;
  padding-left: 1vw;
}
.LandingPageTextFull{
  border: 0px solid var(--highlight);
  width: 94vw;
  text-align: left;
  
  font-size: calc(5px + 2vmin);
  padding-top: 3vh;
  padding-right: 1vw;
  padding-bottom: 3vh;
  padding-left: 1vw;
}
.LandingPageLeftAlign{
  width: 100%;
  text-align: left;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
}
.LandingPageBottomAlign{
  width: 100%;
  text-align: center;
  clear:both;
  float:bottom;
  margin-top: 90vh;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.UFLogo{
  width: 25%;
  height: 25%;
  float:right;
  margin-right:10%;
  margin-top:5%;
}

.activeMovie{
  background-color: var(--highlight);
  width: 100%;
  align-content: center;
}
.activeGenre{
  background-color: var(--highlight);
}
.genre {
  outline: solid .1vmin;
  top: 50%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  transform: translate(0, -50%); 
  border-radius: 1vmin;
  align-content: center;
}

.SubscriptionTable{
  overflow-y: scroll;
  height: 25vmin;
} 

.subscription {
  display: table-cell;
  width: 75px;
  height: 75px;
  outline: solid .1vmin;
  align-items: center;
  vertical-align: middle;
  font-size: 3vmin;
  padding-top: .5vh;
  padding-bottom: .5vh;
  padding-left: .5vw;
  padding-right: .5vw;
  border-radius: 1vmin;

}

/* generate recommendations button */
.generateRec > button {
  background: var(--highlight);
  color: black;
  border-radius: 1vmin;
  font-size: calc(8px + 2vmin);
  padding-top: .5vh;
  padding-bottom: .5vh;
  padding-left: .5vw;
  padding-right: .5vw;
}

.generateRec > button:active{
  background:#91b4bb;
  
}

.movieContainer{
  width: 100%;
  padding-right: 2.5%;
  padding-left: 2.5%;
  padding-top: 5%;
  font-size: 70%;
  margin-top:0%;
  margin-right: .5vw;
  margin-left: .5vw;
}

.flexContainer {
  margin: auto;
  display: flex;
  width: 76%;
}
.flexContainerCenter {
  width: 0%;
  margin: auto;
}

.sliderContainer{
  width: 80vw;
  height: 1vh;
  padding: 1vw 1vw;
  padding-bottom: 3vw;
  align-items: center;
  margin: auto;
}
.mySliderThumb {
  top: .5vmin;
  cursor: pointer;
  outline: solid white .6vmin;
  background: var(--highlight);
  width: 3vmin;
  height:  3vmin;
  border-radius: 100%;

}
.mySlider{
  max-width: 60vw;
  border-radius: 1vmin;
  height: 4vmin;
  margin: auto;
  vertical-align: middle;
}
.mySliderTrack{
  top: 0;
  /* thickness of the track */
  height: 4vmin;
  border-radius: 5vmin;
  /* default color of your track */
  background: var(--highlight);
}
.mySliderTrack.mySliderTrack-0{
  
  background: #91b4bb;
}
.mySubscriptionTable2{
  width: 60vw;
  height: 6vw;
  vertical-align: middle;
  border: 0vmin solid var(--highlight);
}
#mySubscriptionTable td{
  width: 100px;
  height: 5vw;
  vertical-align: middle;
  padding: 5vh 1vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: .2vh;
  margin-right: .2vh;
}
#myGenreTable td{
  width: 200px;
  height: 0vh;
  vertical-align: bottom;
  padding: 5vh .5vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: .2vh;
  margin-right: .2vh;
}

table {
  border: .3vmin solid var(--highlight);
  width: calc( 40*2vw);
}
td {
  display: inline-block;
  height:30vh;
}
input + :checked{
  display: none;
}

img {
  margin: auto;
  display: block;
  font-style: italic;
}

h3{
  font-size: 4em;
  padding: 0;
  margin: 0;
}
h4{
  margin-bottom: 0;
  margin-top: 2vh;
  font-size: 2em;
  padding: 0;
}
h5{
  font-size: 2em;
  padding:0;
  
  margin-bottom: 3vh;
  margin-top: 3vh;
}

